<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class='portrait' src="/img/jewish-superhero-4k-gs.jpg" alt="superhero">
    </div>

    {{>footer}}
</body>
</html>